@font-face {
  font-family: "BebasNeue";
  src: url("../Fonts/BebasNeue-Regular.ttf");
}

.portada{
    min-height: 100vh; /* ocupa toda la pantalla */
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/WhatsApp\ Image\ 2026-01-06\ at\ 11.24.41.jpeg");
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.marca {
  font-family: "BebasNeue", sans-serif;
}

.logo {
    width: 100px;
    height: 100px;
}

#catalogo {
        min-height: 90vh;
        display: flex;
        align-items: center;
    }

.card:hover{
    background-color: black;
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
    background-color: var(--bs-warning) !important;
    color: #000 !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: var(--bs-warning) !important;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-item img {
    min-height: 600px;
    max-height: 800px;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

@media (min-width: 768px) {
    .catalogo {
        min-height: 90vh;
        display: flex;
        align-items: center;
    }
}

