.miPortada{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)),
    url('../assets/portada.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}