@font-face {
  font-family: "BebasNeue";
  src: url("../Fonts/BebasNeue-Regular.ttf");
}

.marca {
  font-family: "BebasNeue", sans-serif;
}

.miPortada{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)),
    url('../assets/portada.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.catalogo{
    min-height: 90vh;
}

.card:hover{
    background-color: black;
    cursor: pointer;
}

/* Estado abierto */
.accordion-button:not(.collapsed) {
    background-color: var(--bs-warning) !important;
    color: #000 !important;
    box-shadow: none !important;
}

/* Quita el foco azul */
.accordion-button:focus {
    box-shadow: none !important;
    border-color: var(--bs-warning) !important;
}

/* Flecha cerrada (amarilla) */
.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffc107' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* Flecha abierta */
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-item img {
    min-height: 600px;
    max-height: 800px;
    object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

